@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body, #root { height: 100%; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.font-link {
  font-family: 'Montserrat', cursive;
}